.infocontainer{
    display: flex;
    align-items: center;
    gap: 50px;
}

.textcontainer{
 flex: 1;
}
.userImagecontainer{
    height: 50px;
    width: 50px;
    position: relative;


}
.imagecontainer{
    flex: 1;
    height: 350px;
 position: relative;
}
.image{
    object-fit: cover;
}

.title{
    font-size: 38px;
    margin-bottom: 50px;
}
.user{
    display: flex;
    align-items: center;
    gap: 20px;
}
.image1{
    border-radius: 50%;
}
.userTextContainer{
  color: var(--softTextColor);
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.username{
    font-size: medium;
    font-weight: 700;
}



/* content */

.content{
    display: flex;
    gap: 40px;
}

.post{
    flex: 5;
    margin-top: 60px;
}
.description p{
    font-size: 18px;
    font-weight: 300;
   margin-bottom:20px;
  }