.container{
  margin: 50px 50px 50px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}
.imageContainer {
  flex: 1;
  position: relative;
  height: 350px;
  
}
.textcontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.image {
  object-fit: cover;
  border-radius: 15px;


}
.post {
  display: flex;
  gap: 20px;
}

.category{
    color: red;
    padding: 0px 10px 10px 0;
    font-weight: 500;
}
.desc{
    font-size: 18px;
    font-weight: 300;
    color: var(--softTextColor);

}
@media screen and (max-width: 1080px) {
  .imageContainer {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .textcontainer {
    width: 100%;
  padding: 0px 0px 0px 20px;
  }
}
@media screen and (max-width: 740px) {
  .container {
   margin: 0 0 30px 0;
  }
}
@media screen and (max-width: 440px) {
  .container {
   margin: 0 0 25px 0;
  }
}