.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .2s;

}

.btn{
    width: 100px;
    color: white;
    background-color: crimson;
    padding: 12px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    transform: translate(1px);
}

.btn:disabled{
    background-color: rgba(220, 20, 60, 0.607);
    cursor: not-allowed;
}